<div local-class="app-footer-content">
<ul>
  <li><span>© 2012-2016 Universität Magdeburg and Universität Bremen</span></li>
  <li><a href="http://wiki.ontohub.org">About</a></li>
  <li><a href="https://github.com/ontohub">GitHub</a></li>
  <li><a href="http://ontolog.cim3.net/cgi-bin/wiki.pl?OpenOntologyRepository">Open Ontology Repository (OOR) Initiative</a></li>
</ul>
</div>
