<div class="top-bar">
  <div class="top-bar-title">
    <h1>{{link-to 'Ontohub' 'index'}}</h1>
  </div>
  <div>
    <div class="top-bar-left">
      <ul class="dropdown menu">
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu">
      </ul>
    </div>
  </div>
</div>
