{
  "extends": ["eslint:recommended", "react-app", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "globals": {
    "Factories": true,
    "mount": true,
    "React": true,
    "Router": true,
    "render": true,
    "set": true,
    "shallow": true
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-var": ["warn"],
    "no-mixed-spaces-and-tabs": ["warn"],
    "prefer-rest-params": ["warn"],
    "jsx-a11y/href-no-hash": "off"
  }
}
