{
  "extends": ["eslint:recommended", "react-app", "prettier", "prettier/react"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-var": ["warn"],
    "no-mixed-spaces-and-tabs": ["warn"],
    "prefer-rest-params": ["warn"]
  }
}
