language: node_js
sudo: false

node_js:
  - "6"
  - "7"

cache:
  directories:
    - "/home/travis/.yarn-cache"

before_install:
  - "npm config set spin false"
  - "npm --version"
  - "phantomjs --version"

install:
  - "npm install -g yarn bower"
  - "yarn install --pure-lockfile --no-emoji"
  - "bower install"
  - "git clone https://github.com/ontohub/ontohub-backend ../ontohub-backend"
  - "ln -s $(readlink -f ../ontohub-backend/spec/support/api/schemas) app/schemas"

script:
  - "npm test"

after_script:
  - "cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js"
  - "cat coverage/lcov.info | node_modules/codeclimate-test-reporter/bin/codeclimate.js"
