.app-footer {
  background-color: $light-gray;
  border-top: 1px solid $medium-gray;
  box-sizing: border-box;
  color: $dark-gray;
  font-size: .8rem;
  height: $footer-height;
  padding: 1rem 0;

  .app-footer-content {
    background-color: $light-gray;
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid $medium-gray;
    margin: 0 auto;
    max-width: 800px;

    ul {
      margin: 0;
    }

    li {
      list-style-type: none;
      padding: .2em 0;

      a,
      span {
        color: $dark-gray;
        display: block;
      }
    }
  }
}
