.radio-choice {
  vertical-align: middle;
  i {
    //float: left;
    font-size: 2.5em;
    margin-right: 10px;
    margin-bottom: -12px;
    width: 1em;
    text-align: center;
  }

  :global(.help-text) {
    margin-left: 5em;
  }
}
