.search-result {

  &:not(:last-of-type) {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1em;
  }

  > *:last-child {
    margin-bottom: 1rem;
  }

  h1 {
    @each $size, $headers in $header-sizes {
      @include breakpoint($size) {
        font-size: rem-calc(map-get($headers, 'h5'));
      }
    }
  }

  p {
    color: $dark-gray;
  }

  &:last-of-type {
    p {
      margin-bottom: 0;
    }
  }
}
