:global(.top-route-header) {
  background-color: $light-gray;
  border-bottom: 1px solid $medium-gray;

  .content {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;

    :global(& > .liquid-container > .liquid-child) {
      padding: 1rem;
    }
  }

  h1 {
    @each $size, $styles in $header-styles {
      @include breakpoint($size) {
        font-size: rem-calc(map-get(map-get($styles, 'h4'), 'font-size'));
      }
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;
  }

  :global(.tabs) {
    background-color: transparent;
    border: 0;
    margin-bottom: -1px;
    margin-top: 2rem;

    :global(.tabs-title) a {
      border: 1px solid transparent;
      border-bottom: 0;
      box-sizing: border-box;
      color: $secondary-color;
      font-size: 1rem;
      padding: 1em 2em;

      &:hover {
        background-color: $medium-gray;
      }

      &[aria-selected='true'] {
        background-color: $white;
        border-color: $medium-gray;
        color: $black;
      }
    }
  }
}
