:global(.top-route-header) {
  background-color: $light-gray;
  border-bottom: 1px solid $medium-gray;

  .content {
    margin: 0 auto;
    max-width: 800px;

    :global(& > .liquid-container > .liquid-child) {
      padding: 1rem 0;
    }
  }

  :global(img.avatar) {
    $size: 100px;
    position: absolute;
    margin-left: calc(-#{$size} - 1rem);
    height: $size;
    width: $size;

    + h2 {
      margin-bottom: 3rem;
    }
  }

  :global(h1 + img.avatar) {
    margin-top: -2.875rem;

    & + h2 {
      margin-top: -.5rem;
      margin-bottom: -.5rem;
    }
  }

  h1 {
    @each $size, $styles in $header-styles {
      @include breakpoint($size) {
        font-size: rem-calc(map-get(map-get($styles, 'h4'), 'font-size'));
      }
    }
  }

  h2 {
    @each $size, $styles in $header-styles {
      @include breakpoint($size) {
        color: lighten($black, 20%);
        font-size: rem-calc(map-get(map-get($styles, 'h5'), 'font-size'));
      }
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;
  }

  :global(.tabs) {
    background-color: transparent;
    border: 0;
    margin-bottom: calc(-1rem - 1px);
    margin-top: 1rem;

    :global(.tabs-title) a {
      border: 1px solid transparent;
      border-bottom: 0;
      box-sizing: border-box;
      font-size: 1rem;
      opacity: .6;
      padding: .75em 1em;

      &:hover {
        background-color: $medium-gray;
      }

      :global(&.active), &[aria-selected='true'] {
        background-color: $white;
        border-color: $medium-gray;
        color: $black;
        opacity: 1;
      }

      :global(.badge) {
        margin-left: 1em;
      }
    }
  }
  :global(.liquid-container), :global(.liquid-child) {
    overflow: visible;
  }
}

