.top-bar {
  background-color: $topbar-background;

  :global(.top-bar) {
    color: $light-gray;
    height: $topbar-height;
    margin: 0 auto;
    max-width: 800px;
    padding: .5rem 0;
  }

  a {
    color: $light-gray;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    margin: 0;
    margin-top: .4rem;

    &::before {
      background: url('/assets/ontohub.svg');
      content: ' ';
      display: inline-block;
      height: 3rem;
      margin-right: .5em;
      margin-top: -.4rem;
      vertical-align: middle;
      width: 3rem;
    }
  }


  :global(.menu > li > a img),
  :global(.menu > li > a i),
  :global(.menu > li > a svg) {
    margin-right: 0;
  }

  :global(.dropdown.menu > li > a:hover),
  :global(.dropdown.menu > li.is-active > a) {
    color: $primary-color;
  }

  :global(.dropdown.menu > li.is-dropdown-submenu-parent > a:hover::after),
  :global(.dropdown.menu > li.is-dropdown-submenu-parent.is-active > a::after) {
    border-color: $primary-color transparent transparent;
  }

  :global(.dropdown.menu > li.is-dropdown-submenu-parent > a::after) {
    border-color: $white transparent transparent;
  }

  :global(.dropdown.menu > li.opens-left > .is-dropdown-submenu) {
    background-color: $white;
    border-radius: .2em;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    color: $black;
    font-size: 0.9em;
    top: 3.6rem;
    padding: .5em 0;

    &::before {
      content: '';
      display: inline-block;
      border: 0.5em solid transparent;
      border-bottom-color: #cacaca;
      font-size: 1.5em;
      position: absolute;
      right: .9em;
      top: -1em;
    }

    &::after {
      content: '';
      display: inline-block;
      border: 0.5em solid transparent;
      border-bottom-color: $white;
      font-size: 1.5em;
      position: absolute;
      right: .9em;
      top: calc(-1em + 1px);
      z-index: 0;
    }

    a {
      color: $black;
      padding: .5em 1em;
      z-index: 9;

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}
